#container {
    margin: auto;

    display: flex;
    height: 720px;
    width: 720px;
    flex-wrap: wrap;

   
}

#container > div{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(85, 81, 81);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 84, 160);
}

body{
    gap: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

